* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway';
}

h1, h2, h3, h4, h5, h6, footer {
  font-family: 'Anton';
}

body > header > a > i {
  color: black;
  margin-right: 30px;
}

body {
  margin-bottom: 50px; 
  background-color: #e0d7d7ac; 
}

header {
  border-bottom: 3px solid #594E4C;
}

header img {
  width: 50px;
}

header > i {
  padding: 8px;
}

footer {
  background-color: #B5A9A4; 
  color: black; 
  padding: 20px 0;
  margin-top: 20px; 
  border-top: 3px solid #594E4C; 
}

.footer-container {
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.footer-left ul, .footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-left h4, .footer-right h4, .footer-center h4 {
  margin-bottom: 10px;
}

.footer-center p {
  margin: 5px 0;
}

.footer-left h4, .footer-right h4 {
  margin-top: 0;
}

.footer-center h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-right i {
  margin-right: 10px;
}

.filtro-group {
  margin-bottom: 20px; 
}

@media only screen and (max-width: 575px) {
  header {
    text-align: center;
  }

  header > i {
    padding: 40px;
  }
  
  .footer-left, .footer-right, .footer-center {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .imatges > div {
    margin: 10px 0;
  }

  .total-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .proceed-button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #594E4C;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .proceed-button:hover {
    background-color: #3e3937;
  }

  h2 {
    text-align: center;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 576px) {
  header {
    text-align: center;
  }

  header > i {
    padding: 40px;
  }

  .footer-left, .footer-right, .footer-center {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  }

  .footer-left,
  .footer-right {
    width: 48%; 
  }

  .imatges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
  }

  .imatges > div {
    flex: 1 1 calc(25% - 20px);
    max-width: 200px; 
    margin: 10px; 
    text-align: center; 
    border: 1px solid #594E4C; 
    padding: 10px;
  }

  .imatges img {
    width: 100%; 
    height: auto; 
  }

  .imatges p {
    margin-top: 5px; 
  }

  .total-container {
    width: 100%;
    margin-top: 20px;
  }

  .proceed-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #594E4C;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .proceed-button:hover {
    background-color: #3e3937;
  }

  h2 {
    text-align: center;
    margin-top: 20px;
  }


  h2 {
    text-align: center;
    margin-top: 20px;
    width: 100%;
  }
}
