<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <title>Mobile Cases</title>
  <link rel="icon" href="../assets/logo.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/carritocompra.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anton&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
</head>
<body>
  <header>
    <i class="fas fa-filter"></i>
    <img src="../assets/logo.png" alt="Mobile Cases">
    <i class="fas fa-search"></i>
    <i class="fas fa-user"></i>
    <i class="fas fa-shopping-cart"></i>
  </header>
  <main>
    <div class="imatges">
      <h2>Carrito de la compra</h2>
      <div>
        <a href="views/producte.html">
          <img src="../assets/descarga4.png" alt="Imatge2">
          <p>Funda móvil 1</p>
          <p>Precio</p>
        </a>
      </div>
      <div>
        <a href="views/producte.html">
          <img src="../assets/descarga4.png" alt="Imatge2">
          <p>Funda móvil 2</p>
          <p>Precio</p>
        </a>
      </div>
      <div>
        <a href="views/producte.html">
          <img src="../assets/descarga4.png" alt="Imatge2">
          <p>Funda móvil 3</p>
          <p>Precio</p>
        </a>
      </div>
      <div>
        <a href="views/producte.html">
          <img src="../assets/descarga4.png" alt="Imatge2">
          <p>Funda móvil 4</p>
          <p>Precio</p>
        </a>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-container">
      <div class="footer-left">
        <h4>Enlaces</h4>
        <ul>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Aviso Legal</a></li>
          <li><a href="#">Qué es Mobile Cases</a></li>
          <li><a href="#">Trabaja con nosotros</a></li>
          <li><a href="#">Informate aquí sobre los Envíos, pagos y devoluciones</a></li>
          <li><a href="#">Política de Privacidad</a></li>
          <li><a href="#">Resolución de litigios</a></li>
          <li><a href="#">Política de Cookies</a></li>
          <li><a href="#">Faqs</a></li>
        </ul>
      </div>
      <div class="footer-right">
        <h4>Síguenos</h4>
        <ul>
          <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>